@import url("@xyflow/react/dist/style.css");

html,
body {
    margin: 0;
    font-family: sans-serif;
    min-width: 320px;
    min-height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

#app {
    width: 100vw;
    height: 100vh;
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color: #0f0f0f;
    background-color: #f6f6f6;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: block;
}

.nodes-canvas {
    width: 100%;
    height: calc(100vh - 160px);
}

input,
button {
    background-color: #ffffff;
}

button {
    cursor: pointer;
}

button:hover {
    border-color: gray;
}

button:active {
    border-color: black;
    background-color: lightgray;
}

input,
button {
    outline: none;
}

.floating-panel {
    margin: 10px;
    position: fixed;
    z-index: 2;
}
